<meta charset="utf-8">
<title>オプション | イラストぽいぽい！</title>
<link rel="stylesheet" href="../style/option.css">
<link rel="stylesheet" href="../style/modal.css">
<link rel="stylesheet" href="../style/component.css">

<div id="app">
  <article>
    <h1><img src="../images/icon19.png">イラストぽいぽい！</h1>
    <section>
      <h1>Twitterアカウント設定</h1>
      <user-list v-ref:user-list empty-user-message="Twitterアカウントが一つも登録されていません。" :users="users">
      </user-list>
    </section>

    <section>
      <h1>定型文</h1>
      <tweet-box :text.sync="tweetText" @update="validateTweetText" :count-func="countTweet"></tweet-box>
      <ul class="error-list" v-show="!validation.tweetText">
        <li v-show="!validation.tweetText">ツイートは140文字以内です。</li>
      </ul>
    </section>

    <section>
      <h1>ショートカットキー</h1>
      <p><label><input type="checkbox" v-Model="tweetKeyCtrlEnter">Ctrl + Enterでつぶやく<label></p>
      <p><label><input type="checkbox" v-Model="tweetKeyAltEnter">Alt + Enterでつぶやく<label></p>
    </section>

    <section>
      <h1>ポイポイモード</h1>
      <label><input type="checkbox" v-Model="poipoiMode">画像を選択した瞬間Twitterに投稿<label>
    </section>

    <section>
      <h1>更新履歴</h1>
      <dl>
        <dt>2015/08/24 ver0.2.2</dt>
        <dd>特定文字がツイートできなかった問題を修正しました。</dd>
        <dt>2015/08/21 ver0.2.1</dt>
        <dd>保存最適化に付随して発生していたツイート画面で変更内容が保存されないバグを修正しました。</dd>
        <dt>2016/08/10 ver 0.2.0</dt>
        <dd>機能「Ctrl + Enterでつぶやく」「Alt + Enterでつぶやく」を追加しました。</dd>
        <dd>ツイートのカウント方法をTwitterに則した方法に修正しました。</dd>
        <dd>設定の保存を最適化しました。</dd>
        <dd>ツイート時にその結果からプロフィール画像更新するように変更しました。</dd>
        <dd>スクロールバーがあるときに、文字数が隠れてしまう問題を修正しました。</dd>
        <dd>ツイート後に定型文ではなく、空白になってしまう問題を修正しました。</dd>
        <dd>ツイート後に下部メッセージが変更されなくなる問題を修正しました。</dd>
        <dt>2016/07/30 ver 0.1.1</dt>
        <dd>オプションに更新履歴の項目を追加しました。</dd>
        <dd>「不適切な内容を含む画像」のチェックが保存されない問題を修正しました。</dd>
        <dt>2016/07/23 ver 0.1.0</dt>
        <dd>「イラストぽいぽい！」をリリースしました！</dd>
      </dl>
    </section>
  </article>

  <modal v-ref:modal click-outside-to-close="false" @close-modal="closeModal">
    <div slot="header">Twitterアカウントの追加</div>
    <div slot="body">
      <div v-if="!newUser">
        <p>Twitterを承認してください</p>
        <p class="auth-button-field"><button  type="button" @click="goAuthTwitter()" :disabled="isStartedAuth">Twitter承認を行う</button></p>
      </div>
      <div v-else>
        <div class="user-preview">
          <img :src="newUser.profileImageUrl">
          <div class="user-screen-name">
            @{{ newUser.screenName }}
          </div>
          <div class="user-name">
            {{ newUser.name }}
          </div>
          <p>アカウントを承認しました！</p>
        </div>
      </div>
    </div>
    <div slot="footer">
      <button type="button" @click="closeModal()">キャンセル</button>
      <button type="button" @click="registerUser()"
        :disabled="!isValidNewUser()" class="success">登録</button>
    </div>
  </modal>
</div>

<script src="../lib/vue.min.js"></script>
<script src="../lib/sha1.js"></script>
<script src="../lib/oauth.js"></script>
<script src="../lib/twitter-text.js"></script>
<script src="../lib/jquery-3.0.0.min.js"></script>

<script src="../components/ui/userList.js"></script>
<script src="../components/ui/tweetBox.js"></script>
<script src="../components/popup/modal.js"></script>

<script src="../twitter.js"></script>
<script src="../dto.js"></script>
<script src="../storage.js"></script>
<script src="../controller/option.js"></script>
